//! **************************************************************************
// Written by: Map P.20131013 on Mon May 15 14:53:26 2023
//! **************************************************************************

SCHEMATIC START;
COMP "CD" LOCATE = SITE "D16" LEVEL 1;
COMP "CE" LOCATE = SITE "G14" LEVEL 1;
COMP "CF" LOCATE = SITE "J17" LEVEL 1;
COMP "CG" LOCATE = SITE "H14" LEVEL 1;
COMP "s<0>" LOCATE = SITE "P4" LEVEL 1;
COMP "s<1>" LOCATE = SITE "E4" LEVEL 1;
COMP "s<2>" LOCATE = SITE "P16" LEVEL 1;
COMP "s<3>" LOCATE = SITE "E16" LEVEL 1;
COMP "s<4>" LOCATE = SITE "K14" LEVEL 1;
COMP "DP" LOCATE = SITE "C17" LEVEL 1;
COMP "s<5>" LOCATE = SITE "K15" LEVEL 1;
COMP "s<6>" LOCATE = SITE "J15" LEVEL 1;
COMP "s<7>" LOCATE = SITE "J14" LEVEL 1;
COMP "AN0" LOCATE = SITE "F17" LEVEL 1;
COMP "AN1" LOCATE = SITE "H17" LEVEL 1;
COMP "AN2" LOCATE = SITE "C18" LEVEL 1;
COMP "AN3" LOCATE = SITE "F15" LEVEL 1;
COMP "CLK_50MHz" LOCATE = SITE "B8" LEVEL 1;
COMP "p<0>" LOCATE = SITE "K18" LEVEL 1;
COMP "p<1>" LOCATE = SITE "H18" LEVEL 1;
COMP "p<2>" LOCATE = SITE "G18" LEVEL 1;
COMP "CA" LOCATE = SITE "L18" LEVEL 1;
COMP "CB" LOCATE = SITE "F18" LEVEL 1;
COMP "CC" LOCATE = SITE "D17" LEVEL 1;
NET "CLK_50MHz_BUFGP/IBUFG" BEL "CLK_50MHz_BUFGP/BUFG.GCLKMUX"
        USELOCALCONNECT;
SCHEMATIC END;

